
#calculator, #calculations {
    float: left;
}

#calculatorApp table {
    width: 230px;
}

#calculatorApp table td {
    width: 35px;    
    height: 40px;
}

input[type=text] {
    text-align: right;
    display: block;
    margin-bottom: 5px;
    margin-right: 4px;
    margin-left: 3px;
    width: 220px;
}

input[type=button] { 
    width: 100%;
    height: 100%;
}


#calculatorHelperButtons {
    margin-left: 2.5px;
    margin-top: 10px;
}

.empty-background {
    background: none;

}

#calculatorHelperButtons div {
    margin-top: 5px;
    margin-bottom: 5px;
}

#calculatorHelperButtons input[type=button] {
    width: 225px;
    height: 40px;
}

#calculations {
    width: 400px;
}

ol#sortable {
    list-style: none;
    -webkit-padding-start: 0px;
}

ol#sortable li {
    border: solid thin;
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
}

ol#sortable li div:first-child {
    float: left;
    max-width: 90%;
}

ol#sortable li div.ui-icon {
    float: right;
    border: solid thin;
}

ol#sortable li div:last-child {
    clear: both;
}

@media print {
    #calculatorApp, #calculationListButtons {
        display: none;
    }
    span {
        background-color: red;
    }
}